*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}
body{
	height: 100%;
	padding: 0.5rem;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
#output{
	font-size: 20px;
	margin: 1rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 1rem;
}

input{
	padding: 5px;
}

.container{
	width: 50%;
	background: #f3f3f3;
	padding: 1rem;
	text-align: center;
}

.button{
	padding: .5rem;
	font-size: 1rem;
	background: #eee;
	border-radius: 5px;
}	

.inputter{
	font-size: 1rem;
	border: 2px solid black;
}

.inputButtons{
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
}
.card{
	padding: 1rem;
}
.myModal-outer{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	background: rgba(220, 220, 220, 0.7);
}

.myModal{
	background: white;
	position: fixed;
	min-height: 60%;
	width: 60%;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	padding: 1rem;
}

#myModal-info{
	display: flex;
}

.dogName{
	position: relative;
}

.dogName::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 15%;
	height: 2px;
	background: #000;
}

.myDogs{
	cursor: pointer;
	width: 100%;
	height: auto;
	max-width: 600px;
	margin-bottom: 2rem; 
}

.closeBar{
	font-size: 40px;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.range-slider{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 8%;
}

.map-container{
	display: none;
}

#map{
	height: 600px;
	width: 800px;
	background: blue;
}

















